.Copyright {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  color: white;
}
body {
  padding-top: 80px;
  font-family: "Cairo", sans-serif;
  background-color: #282A35;
}
#welcome {
  margin-left: 100px;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(12, 26, 133);  */
  background-color: white;
  width: 100%;
  height: 80px;
  overflow: hidden;
}
nav ul {
  float: right;
  margin-right: 30px;
  overflow: hidden;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-decoration-line: none;
  font-size: 20px;
  padding: 5px 25px;
}
a:hover {
  background-color: #1a8d76;
  color: white;
  border: 1px solid black;
}
.logo {
  position: fixed;
  height: auto;
  left: 20px;
  width: 100px;
  max-height: 80px;
}
body input[type=search] {
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  border-width: 2px;
}
#sub {
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
}
#sub:hover{
  background-color: #1a8d76;
  border: 1px solid black;
  color: white;
} 
.button{
  width : 50%;
  font-size: medium;
  border-color: #789f97d3;
  background-color: hsla(168, 40%, 38%, 0.812);
  color: #ffffff;
}
table {
  border-collapse: collapse;
  margin-left:20px;
  margin-right:20px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-top: 60px;
}
th{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  font-size:medium;
}
td{
  padding: 10px 1px;
  font-size: medium;
}
tr{
  border-bottom: 1px solid #888686 ;
}
tr {
  background-color: #f3f3f3;
}
tr:last-of-type {
  border-bottom: 2px solid #009879;
}